In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/kusha/OneDrive/Desktop/Capstone Project/Capstone Project/BMW_Sales_2020_2025.csv")

In [3]:
#  Data overview
df

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,NaN,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [4]:
df.head()           # View the first 5 rows of the dataset.

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,NaN,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25

In [5]:
df.tail()           # View the last 5 rows of the dataset.

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [6]:
df.info()         # Get a concise summary of the DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5760 entries, 0 to 5759
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    5760 non-null   int64
 1   Month                   5760 non-null   object
 2   Model                   5760 non-null   object
 3   Type                    5760 non-null   object
 4   Power                   5760 non-null   object
 5   Region                  5760 non-null   object
 6   Country                 5760 non-null   object
 7   Units_Sold              5760 non-null   int64
 8   Avg_Price_USD           5477 non-null   float64
 9   Revenue_USD             5434 non-null   float64
 10  Cost_USD                5477 non-null   float64
 11  Profit_USD              5471 non-null   float64
 12  Profit_Margin           5760 non-null   float64
 13  Gross_Margin            5760 non-null   float64
 14  Operating_Expenses_USD  5434 non-null   float64
 15  Net_Profit_USD          5161 non-null   float64
 16  ROI                     4908 non-null   float64
 17  EBITDA_Margin           5760 non-null   float64
dtypes: float64(10), int64(2), object(6)
memory usage: 810.1+ KB

In [7]:
df.describe()     # Generate descriptive statistics.

,Year,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
count,5760.000000,5760.000000,5477.000000,5.434000e+03,5.477000e+03,5.471000e+03,5760.000000,5760.000000,5.434000e+03,5.161000e+03,4908.000000,5760.000000
mean,2022.500000,1229.528993,77404.976447,9.501996e+07,7.157151e+07,2.357012e+07,24.798679,34.969679,1.204648e+07,1.152296e+07,16.853857,45.039679
std,1.707973,591.612366,24439.143831,5.666211e+07,4.296839e+07,1.541168e+07,5.812457,8.612577,7.183534e+06,9.392772e+06,9.116398,8.612577
min,2020.000000,201.000000,35012.000000,8.389730e+06,6.210313e+06,1.578680e+06,15.000000,20.000000,1.063637e+06,3.049783e+05,2.730000,30.070000
25%,2021.000000,729.000000,56298.000000,4.924266e+07,3.721286e+07,1.165017e+07,19.657500,27.617500,6.242908e+06,4.516715e+06,8.777500,37.687500
50%,2022.500000,1215.000000,77220.000000,8.383573e+07,6.345579e+07,2.006767e+07,24.765000,34.975000,1.062856e+07,8.704884e+06,16.090000,45.045000
75%,2024.000000,1716.000000,98620.000000,1.309715e+08,9.845675e+07,3.193993e+07,29.720000,42.430000,1.660437e+07,1.600227e+07,24.292500,52.500000
max,2025.000000,2500.000000,119995.000000,2.882601e+08,2.305263e+08,8.929071e+07,34.990000,50.000000,3.654517e+07,5.526658e+07,34.320000,60.070000

In [8]:
print("Columns in the dataset:",df.columns)  # List all column names in the DataFrame.

Columns in the dataset: Index(['Year', 'Month', 'Model', 'Type', 'Power', 'Region', 'Country',
       'Units_Sold', 'Avg_Price_USD', 'Revenue_USD', 'Cost_USD', 'Profit_USD',
       'Profit_Margin', 'Gross_Margin', 'Operating_Expenses_USD',
       'Net_Profit_USD', 'ROI', 'EBITDA_Margin'],
      dtype='object')

In [9]:
print("Shape of the dataset:",df.shape)    # Get the number of rows and columns in the DataFrame.

Shape of the dataset: (5760, 18)

In [10]:
df_original = df.copy()

In [11]:
#  Data Cleaning

In [12]:
df.isnull().sum()   # Check for missing values in each column.

Year                        0
Month                       0
Model                       0
Type                        0
Power                       0
Region                      0
Country                     0
Units_Sold                  0
Avg_Price_USD             283
Revenue_USD               326
Cost_USD                  283
Profit_USD                289
Profit_Margin               0
Gross_Margin                0
Operating_Expenses_USD    326
Net_Profit_USD            599
ROI                       852
EBITDA_Margin               0
dtype: int64

In [13]:
df.duplicated()          # Check for duplicate rows in the DataFrame.

0       False
1       False
2       False
3       False
4       False
        ...
5755    False
5756    False
5757    False
5758    False
5759    False
Length: 5760, dtype: bool

In [14]:
df.drop_duplicates(inplace=True)  # Remove duplicate rows from the DataFrame.

In [15]:
df

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,NaN,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [16]:
df_clean = df.copy()
df_clean["Revenue_USD"].fillna(df_clean["Revenue_USD"].median(), inplace=True)
df_clean["Cost_USD"].fillna(df_clean["Cost_USD"].median(), inplace=True)
df

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,NaN,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [17]:
import pandas as pd
import numpy as np
import random

df = pd.read_csv("C:/Users/kusha/OneDrive/Desktop/Capstone Project/Capstone Project/BMW_Sales_2020_2025.csv")

# Numeric columns: replace NaN with a random number within column range
num_cols = ["Units_Sold", "Avg_Price_USD", "Revenue_USD", "Cost_USD", "Profit_USD"]
for col in num_cols:
    df.replace({col: {np.nan: random.randint(int(df[col].min()), int(df[col].max()))}}, inplace=True)

# Categorical columns: replace NaN with a random existing value
cat_cols = ["Power", "Region", "Country"]
for col in cat_cols:
    df.replace({col: {np.nan: random.choice(df[col].dropna())}}, inplace=True)

df.to_csv("BMW_Sales_Filled_Replace.csv", index=False)

In [18]:
df

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,2.077355e+08,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [19]:
# Data Exploration

In [20]:
df['Power'].value_counts()   # Counts unique values.

Power
Electric    2277
Petrol      1744
Diesel       875
Hybrid       864
Name: count, dtype: int64

In [21]:
df['Model'].unique()      # Lists unique values in the 'Model' column.

array(['3 Series', '5 Series', '7 Series', 'X1', 'X3', 'X5', 'X7', 'Z4',
       'i4', 'iX', 'i7', 'M3', 'M5', 'M8', 'iX3', '2 Series', '4 Series',
       '8 Series', 'i3', 'X6'], dtype=object)

In [22]:
df['Model'].nunique()     # Counts unique models in the 'Model' column.

20

In [23]:
df

,Year,Month,Model,Type,Power,Region,Country,Units_Sold,Avg_Price_USD,Revenue_USD,Cost_USD,Profit_USD,Profit_Margin,Gross_Margin,Operating_Expenses_USD,Net_Profit_USD,ROI,EBITDA_Margin
0,2020,Jan,3 Series,Sedan,Diesel,Europe,Italy,1111,35690.0,39651590.0,2.620222e+07,13449371.78,33.92,40.52,5026967.30,8422404.48,32.14,50.59
1,2020,Jan,3 Series,Sedan,Petrol,USA,USA,1066,75004.0,79954264.0,2.077355e+08,18198744.42,22.76,38.01,10136478.02,8062266.40,NaN,48.08
2,2020,Jan,3 Series,Sedan,Hybrid,China,China,1429,106934.0,152808686.0,1.018600e+08,50948676.53,33.34,35.38,19372849.05,31575827.48,31.00,45.45
3,2020,Jan,3 Series,Sedan,Hybrid,Rest_of_World,Japan,241,78914.0,19018274.0,1.597889e+07,3039387.93,15.98,38.31,2411107.38,628280.55,3.93,48.38
4,2020,Jan,5 Series,Sedan,Petrol,Europe,France,1141,45835.0,52297735.0,4.007558e+07,12222153.70,23.37,45.18,6630226.02,5591927.68,13.95,55.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2025,Dec,i3,Hatchback,Electric,Rest_of_World,Brazil,822,49241.0,40476102.0,3.317342e+07,7302680.77,18.04,20.98,5131497.66,2171183.11,6.54,31.05
5756,2025,Dec,X6,SUV,Diesel,Europe,UK,2462,60959.0,150081058.0,1.275409e+08,22540150.45,15.02,40.43,19027044.58,3513105.87,2.75,50.50
5757,2025,Dec,X6,SUV,Electric,USA,USA,797,102701.0,81852697.0,6.800516e+07,13847542.00,16.92,23.66,10377158.42,3470383.58,5.10,33.73
5758,2025,Dec,X6,SUV,Electric,China,China,1388,99739.0,138437732.0,1.015569e+08,36880803.57,26.64,49.55,17550921.71,19329881.86,19.03,59.62
5759,2025,Dec,X6,SUV,Electric,Rest_of_World,Japan,2040,80220.0,163648800.0,1.078106e+08,55838229.06,34.12,26.90,20747141.94,35091087.12,32.55,36.97

In [24]:
df.groupby (['Region' , 'Country'])['Units_Sold'].mean()

Region         Country
China          China           1217.795139
Europe         France          1184.759322
               Germany         1191.035587
               Italy           1226.339744
               Spain           1251.429630
               UK              1252.294326
Rest_of_World  Australia       1268.626582
               Brazil          1234.610487
               India           1186.088968
               Japan           1299.886986
               South Africa    1223.080986
USA            USA             1236.031944
Name: Units_Sold, dtype: float64

In [25]:
df.groupby('Country')['Units_Sold'].mean()

Country
Australia       1268.626582
Brazil          1234.610487
China           1217.795139
France          1184.759322
Germany         1191.035587
India           1186.088968
Italy           1226.339744
Japan           1299.886986
South Africa    1223.080986
Spain           1251.429630
UK              1252.294326
USA             1236.031944
Name: Units_Sold, dtype: float64

In [26]:
df.groupby (['Region' , 'Country' , 'Type'])['Units_Sold'].mean()

Region         Country       Type
China          China         Convertible    1138.013889
                             Coupe          1244.979167
                             Hatchback      1321.604167
                             SUV            1194.081349
                             Sedan          1206.032407
Europe         France        Convertible    1201.833333
                             Coupe          1165.343284
                             Hatchback      1188.870968
                             SUV            1163.500000
                             Sedan          1218.573034
               Germany       Convertible    1072.750000
                             Coupe          1156.384615
                             Hatchback      1203.555556
                             SUV            1206.626263
                             Sedan          1221.621622
               Italy         Convertible    1210.777778
                             Coupe          1218.433333
                             Hatchback      1271.650000
                             SUV            1299.741071
                             Sedan          1113.182927
               Spain         Convertible    1317.000000
                             Coupe          1203.225000
                             Hatchback      1219.043478
                             SUV            1178.206186
                             Sedan          1343.153061
               UK            Convertible    1358.857143
                             Coupe          1216.642857
                             Hatchback      1132.000000
                             SUV            1261.870000
                             Sedan          1278.292135
Rest_of_World  Australia     Convertible    1192.578947
                             Coupe          1297.909091
                             Hatchback      1261.750000
                             SUV            1303.800000
                             Sedan          1221.152174
               Brazil        Convertible    1287.818182
                             Coupe          1155.260870
                             Hatchback      1257.562500
                             SUV            1288.240000
                             Sedan          1195.730769
               India         Convertible    1151.785714
                             Coupe          1028.381818
                             Hatchback      1118.576923
                             SUV            1268.528302
                             Sedan          1213.225000
               Japan         Convertible    1138.250000
                             Coupe          1291.982143
                             Hatchback      1193.677419
                             SUV            1314.048077
                             Sedan          1356.929412
               South Africa  Convertible    1451.250000
                             Coupe          1186.138462
                             Hatchback      1356.774194
                             SUV            1228.126582
                             Sedan          1172.773196
USA            USA           Convertible    1200.333333
                             Coupe          1227.878472
                             Hatchback      1206.236111
                             SUV            1248.662698
                             Sedan          1242.613426
Name: Units_Sold, dtype: float64

In [27]:
df.groupby(['Model','Type','Power','Region'])[['Units_Sold', 'Cost_USD']].mean()

                                            Units_Sold      Cost_USD
Model    Type      Power    Region
2 Series Hatchback Diesel   China          1095.153846  7.753450e+07
                            Europe         1213.666667  6.565864e+07
                            Rest_of_World  1121.562500  6.330104e+07
                            USA            1222.782609  8.538030e+07
                   Electric China          1141.315789  6.006713e+07
...                                                ...           ...
iX       SUV       Electric USA            1263.819444  8.859279e+07
iX3      SUV       Electric China          1165.888889  7.049692e+07
                            Europe         1123.666667  6.722961e+07
                            Rest_of_World  1267.930556  8.643712e+07
                            USA            1246.375000  8.010689e+07

[224 rows x 2 columns]